<!DOCTYPE html>
<html>
<head>
  <title>So5521473Autocomplete</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, :class => "flash #{key}" %>
<% end %>

<%= yield %>

</body>
</html>
